<div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="card mx-auto">
            <div class="card-content ">
              <figure class="image is-square">
                <img class="is-rounded" src="img/profile-2.png" alt="Profile Picture">
              </figure>
            </div>
            <div class="card-content has-text-centered">
              <div class="media">
                <!-- <div class="media-left">
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div> -->
                <div class="media-content"> 
                  <span>
                    <p class="title is-4 mb-1">Garda Arraniri</p>
                  </span>
                  <a class="tag" href="https://github.com/arraniri46" target="_blank">
                    <span class="icon-text mx-1">
                      <span class="icon">
                        <img class="image is-16x16" src="img/logo-github.png" alt="Github">
                      </span>
                    </span>
                    <em class="subtitle is-6">@arraniri46</em>
                  </a>                  
                </div>
              </div>
          
              <div class="content">
                <blockquote>
                  Founder <h5><b><a href="http://arranworks.me" target="_blank">arranworks.me</a></b></h5>
                </blockquote>
              </div>
            </div>
        </div>
      </div>
      <div class="column is-9">
        <div class="box" style="min-height: 490px;" id=maintab>
          <div class="tabs is-boxed" id="tab-menu">
            <ul>
              <li class="is-active" data-target="about">
                <a>About</a>
              </li>
              <li data-target="skills">
                <a>Skills</a>
              </li>
              <li data-target="portofolio">
                <a>Portofolio</a>
              </li> 
              <li data-target="projects">
                <a>Projects</a>
              </li>
              <li data-target="certificates">
                <a>Certificates</a>
              </li>            
            </ul>
          </div>
          <div class="px-2" id=tab-content>
            <!-- about section -->
            <div id="about" >
              <div class="container">
                <div class="columns">
                  <!-- about section -->
                  <div class="column is-three-fifths" style="position: relative; min-height: 400px;">
                    <h3 class="title is-size-5">About Me</h3>
                    <p>Assalamu'alaikum, Hi Everyone. <br> Saya Garda dan saya adalah seorang Fullstack Developer.</p>
                    <p class="mt-6"><code>#simplicity over #complexity</code></p>
                    <div style="position: absolute; bottom: 0;">
                      <div class="mt-6">
                        <a href="mailto:garda.arraniri@gmail.com">
                          <button class="button is-link">
                            <span class="icon">
                              <i class="far fa-envelope"></i>
                            </span>
                            <span>Email Me</span>
                          </button>
                        </a>                      
                      </div>
                      <div class="my-2">                      
                        <span class="icon-text" style="font-size: 0.9rem;">
                          <span class="icon">
                            <i class="fas fa-download"></i>
                          </span>
                          <a href="/">Download CV</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="column is-two-fifths" id="my-journey">
                    <!-- <h3 class="title is-size-5">My Journey</h3> -->
                    <div class="tabs is-centered is-toggle is-toggle-rounded is-fullwidth" id="subtab-menu">
                      <ul>
                        <li class="is-active" data-target="education">                          
                          <a>
                            <span class="icon-text">
                              <span class="icon">
                                <i class="fas fa-graduation-cap"></i>
                              </span>
                              Study
                            </span>
                          </a>
                        </li>
                        <li class="" data-target="work" >
                          <a>
                            <span class="icon-text">
                              <span class="icon">
                                <i class="fas fa-briefcase"></i>
                              </span>
                              Work
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div id="subtab-content">
                      <div class="" id="education">
                        <!-- Roadmap Section -->
                        <section class="timeline-area">
                          <div>
                            <h2><b>SMAN 11 Medan</b></h2>
                            <!-- <h3>Highschool</h3> -->
                            <h4>2011-2014</h4>
                          </div>
                          <div>
                            <h2><b>Information Technology</b></h2>
                            <h3>Universitas Sumatera Utara</h3>
                            <h4>2014-2021</h4>
                          </div>
                        </section>
                        <!-- End Roadmap Section -->
                      </div>
                      <div class="is-hidden" id="work">
                        Experience
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end about section -->

            <!-- skill section -->
            <div class="is-hidden" id="skills" style="overflow-y: scroll; max-height: 380px;">
              <div class="columns mx-auto is-mobile is-multiline is-centered">
                <div class="column is-narrow">
                  <h4 class="title is-size-5 py-2 has-text-centered my-6 has-background-link-light">[ Web Programming ]</h4>
                  <div class="">
                    <div class="skills-area">
                      <div>
                        <h2><b>HTML/CSS</b> (Intermediate)</h2>
                        <h6><em>Tools: -</em></h6>
                      </div>
                      <div>
                        <h2><b>Python</b> (Intermediate)</h2>
                        <h6><em>Tools: Django</em></h6>
                      </div>
                      <div>
                        <h2><b>Javascript</b> (Intermediate)</h2>
                        <h6><em>Tools: NodeJS, ReactJS, Express</em></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-narrow">
                  <h4 class="title is-size-5 py-2 has-text-centered my-6 has-background-link-light">[ Mobile Programming ]</h4>
                  <div class="">
                    <div class="skills-area">
                      <div>
                        <h2><b>Java</b> (Intermediate)</h2>
                        <h6><em>Tools: Android Studio</em></h6>
                      </div>
                      <div>
                        <h2><b>Javascript</b> (Intermediate)</h2>
                        <h6><em>Tools: React Native</em></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-narrow">
                  <h4 class="title is-size-5 py-2 has-text-centered my-6 has-background-link-light">[ Machine Learning / AI ]</h4>
                  <div class="">
                    <div class="skills-area">
                      <div>
                        <h2><b>Tensorflow</b> (Intermediate)</h2>
                        <h6><em>Tools: Python</em></h6>
                      </div>
                      <div>
                        <h2><b>Scikit-Learn</b> (Intermediate)</h2>
                        <h6><em>Tools: Python</em></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end skill section -->

            <!-- protofolio section -->
            <div class="container is-hidden" id="portofolio">
              <h3 class="title is-size-5">Portofolio</h3>
                <% portofolios.forEach(porto => { %>
                  <div class="card m-2" style="max-width: 155px; position: relative;">
                    <a href="/" style="position: absolute; width:100%; height:100%; top:0px; left:0px;"></a>
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <h6 class="is-size-6"><%= porto.title %> </h6>
                      </div>
                    </div>
                    <div class="card-footer">
                      <em><%= porto.author %></em> 
                    </div>
                  </div>
                <% }) %>
              
            </div>
            <!-- end protofolio section -->

            <!-- projects section -->
            <div class="is-hidden" id="projects">
              <h3 class="title is-size-5">Projects</h3>
            </div>
            <!-- end projects section -->

            <!-- certificates section -->
            <div class="is-hidden" id="certificates" style="overflow-y: scroll; max-height: 380px;">
              <h3 class="title is-size-5">Certificates</h3>
              <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-start">
                <% certificates.forEach(certificate => { %>
                  <div class="card m-2" style="max-width: 155px;">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <h6 class="is-size-6"><%= certificate.title %> </h6>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
              <!-- end certificates section -->
            </div>
          </div>
        </div>

      
    </div>
    <div class="columns">
      <!-- about section -->
      <div class="column">
        <div class="box" style="min-height: 100px;">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Experience (year)</p>
                <p class="title">1</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Completed Projects</p>
                <p class="title">2</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Ongoing Projects</p>
                <p class="title">4</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- end about section -->
      <div class="column">
        <div class="box" style="min-height: 100px;">
          <div class="columns mt-1 mx-auto is-mobile is-multiline is-centered">
            <div class="column is-narrow mx-5">
              <a target="_blank" href="https://www.linkedin.com/in/garda-ar-51a72686/">
                <span class="icon-text">
                  <span class="icon">
                    <img src="img/logo-linkedin.png" alt="Linkedin">
                  </span>
                  <!-- <span>Linkedin</span> -->
                </span>
              </a>                  
            </div>
            <div class="column is-narrow mx-5">
              <a target="_blank" href="https://twitter.com/arraniri46">
                <span class="icon-text">
                  <span class="icon">
                    <img src="img/logo-twitter.png" alt="Twitter">
                  </span>
                  <!-- <span>Twitter</span> -->
                </span>
              </a>
            </div>
            <div class="column is-narrow mx-5">
              <a target="_blank" href="https://facebook.com/garda.rev46">
                <span class="icon-text">
                  <span class="icon">
                    <img src="img/logo-facebook.png" alt="Facebook">
                  </span>
                  <!-- <span>Facebook</span> -->
                </span>
              </a>
            </div>
            <div class="column is-narrow mx-5">
              <a target="_blank" href="https://instagram.com/arraniri46">
                <span class="icon-text">
                  <span class="icon">
                    <img src="img/logo-instagram.png" alt="Instagram">
                  </span>
                  <!-- <span>Instagram</span> -->
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>